<h3>Game <%= data.game %></h3>
<div class="row">
  <div class="cell">
    <h4>2016 season:</h4>
    <% var twentySixteen = data.selected[2016]; var remaining = [2015, 2001, 1995, 1978]; %>
    <b><%= twentySixteen.date %></b> <%= twentySixteen.opponent %><br>
    Final score: <b><%= twentySixteen.won %>, <%= twentySixteen.score %></b><br>
    Record: <b><%= twentySixteen.wins %>-<%= twentySixteen.losses %></b><br>
    Projected record: <b><%= data.projected %>-<%= 162 - data.projected %><br>
    <% if (twentySixteen.link) { %>
    <a href="<%= twentySixteen.link %>" target="_parent">Read game story &raquo;</a>
    <% } %>
  </div>
  <div class="cell">
    <h4>Other seasons:</h4>
    <ul>
      <% remaining.forEach(function(year) { var g = data.selected[year]; %>
      <li> <%= year %>: <b><%= g.wins %>-<%= g.losses %></b>
      <% }); %>
    </ul>
  </div>
</div>