<%
var seasonData = { 1978: null, 1995: null, 2001: null, 2016: null, 2017: null };
for (var key in seasonData) {
  var data = json["MarinersTracker_" + key];
  seasonData[key] = data;
  var wins = 0;
  var losses = 0;
  for (var i = 0; i < data.length; i++) {
    var item = data[i];
    if (item.won == "W") {
      wins++;
    } else {
      losses++;
    }
    item.wins = wins;
    item.losses = losses;
    if (item.notes) item.notes = item.notes.trim();
  }
}
seasonData[2017] = seasonData[2017].filter(function(g) { return g.won });
%><!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <h2>Mariners wins tracker</h2>
        <p class="chatter">
          Is this the year the Mariners will end a 16-year playoff drought? Track the team's progress throughout the season, find out how many wins Seattle projects to end with and see how they stack up with the franchise’s best and worst teams.
        </p>
        <div class="tooltip empty">Touch or hover on the graph to see per-game information</div>
        <div class="canvas-container">
          <img src="./assets/marinerslogo.jpg" class="logo">
          <canvas class="tracker"></canvas>
        </div>
        <ul class="key"></ul>

        <div class="swelmet">
          <%= t.include("partials/_swelmet.html") %>
        </div>

        <div class="credit">
          Vanessa Martinez, Thomas Wilburn, Sean Quinton / The Seattle Times
        </div>
        <div class="date">
          Last updated: <%= require("moment")().format("MMM DD, YYYY [at] hh:mma") %>
        </div>
      </main>
    </responsive-child>

    <script>
window.seasons = <%= JSON.stringify(seasonData) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
